#logo {
	width: 5%;
	height: 5%;
}

.over-lay {
	position: absolute;
	background: rgba(228, 14, 88, 0.5);
	min-width: 100%;
	min-height: 100%;
}

header {
	background-image: url(../kazino-online/img/background.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.description {
	position: absolute;
	color: blue;
	font-size: 20pt;
	margin-top: 5%;
}

.interesting {
	background-image: linear-gradient(45deg, yellow, violet);
}

.emoji {
	font-size: 35px;
}

.title {
	padding-top: 5%;
	padding-bottom: 5% ;
}

.title_main {
	font-size: 32px;
	text-align: center;
}

.title_text {
	font-size: 20px;
    text-align: center;
}

.feedback { /* третий экран */
	background: #000; 
	color: #111;
}

.over-lay_background-color {
	background-color: #000;
}

.blue {
	color:blue
}

#submit {
	margin-top: 5%;
}

.feedback_form_background-color {
	background-color: rgb(24, 24, 24);
}

.feedback_form_text_color  {
	color: rgb(255, 255, 255);
}

footer {
	background-color: black;
}

.footer-info {
	color: rgb(68, 68, 68);
	font-size: 12pt;
	text-align: left;
	padding-left: 0%;
	padding-right: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 100%;
	margin: 0;
}

#whatsapp {
	width: 2%;
	height: 2%;
	fill: rgb(68, 68, 68);
}

#whatsapp:hover {
	fill: white	;
}
